<!DOCTYPE html>
<html>
  <head>
    <title>Icr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- start -->
    <%= stylesheet_pack_tag 'application' %>
    <!-- end -->
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
  </body>
</html>
