<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  	<base href=".">

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application.jsx' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
